/* CSS Document */
body{padding:0px; margin:0px; background:#fff; color:#582902; font-family: Verdana, Helvetica, sans-serif; font-size: 12px; color: #666666;}
div, p, ul, form, input, h2, h3, h4, img{padding:0px; margin:0px;}
ul{list-style-type:none;}
a {text-decoration: none;}

.error {color: red;}
.success {color: green;}
.notice {color: orange;}

/*----MAIN PANEL----*/
#mainPan{width:100%; position:relative; margin:0 auto;}

/*----Left Panel----*/
#leftPan{width: 220px; height: 690px; float:left; background:#fff1ca; color:#582902; border:1px solid #E3DDCD; padding: 10px 0 0;}
#leftPan ul.one{width:168px; height:177px; margin:0 0 22px 14px;}
#leftPan ul.one li{width:186px; height:21px; border-bottom:1px solid #E3DDCD;}
#leftPan ul.one li a{width:170px; height:19px; display:block; background:url(../img/arrow1.gif) 13px 8px no-repeat #fff1ca; text-decoration:none; padding:2px 0 0 24px;}
#leftPan ul.one li a:hover{text-decoration:underline; padding:2px 0 0 24px;}
#leftPan ul.one li.home{width:170px; height:21px; background:url(../img/arrow2.gif) 13px 8px no-repeat #0089c9; color:#fff; text-decoration:none; padding:4px 0 0 24px;}
#leftPan ul.one li.contact{width:127px; height:21px; border-bottom:none;}
#leftPan h3{ height:20px; background:#fff1ca; color:#574A22; font:20px/22px Verdana, Helvetica, sans-serif; padding:0 0 0 25px;}
/*----/Left Panel----*/

/*----Right Panel----*/
#rightPan{width:698px; float:left;}
/*---Body Panel----*/
#bodyPan{width:662px; padding:14px 20px 0 30px;}
#bodyPan h2{height:25px; background:#fff; color:#40361B; font:30px/18px Verdana, Helvetica, sans-serif;}
#bodyPan p {padding: 6px 6px 0 0;}
#bodyPan p.more{background:url(../img/more-line.gif) 0 90% repeat-x; text-align: right;}
#bodyPan p.more a{background:#fff; color:#0089c9; font:13px/14px Verdana, Helvetica, sans-serif; font-weight:bold; text-decoration:none; margin:0 0 0 10px;}
#bodyPan p.more a:hover{background:#E3DDCD; color:#0089c9; text-decoration:none;}
#bodyPan div.item {float:left; width:80px; margin: 10px 10px 40px 0; height:72px; text-align:center;}
#bodyPan a.btnitem {margin-top: 84px; cursor: pointer;}
#bodyPan a.list_icon_edit {margin-left: 10px; cursor: pointer;}
#bodyPan a.list_title {background:#fff; color:#0089c9; font:13px/14px Verdana, Helvetica, sans-serif; font-weight:bold; text-decoration:none;}
#bodyPan div.list_descipction {float:left; width: 584px;}
#bodyPan div.list_image {float:left; width: 90px;}
#bodyPan span.email {color: blue; font-size: 11px;}
#bodyPan span.fecha {color: #666666; font-size: 11px;}

#bodyPan table.table_categorias {width: 500px;}
#bodyPan table.table_categorias th {text-align: left; border-bottom: 1px solid #999999;}
#bodyPan table.table_categorias td {border-bottom: 1px dashed #cccccc;}

.terminos { width: 80%; margin: 0 auto; }
.terminos p { padding: 10px; }